@import './_mixins/_variables';

.dashboard {
  align-content: start;
  background: $primary-white;
  display: grid;
  grid-gap: 16px;
  grid-row: 2/3;
  margin: 100px 5% 0;
  padding: 34px 28px 0;
}
