.dashboard {
  align-content: start;
  display: grid;
  grid-gap: 16px;
  margin: 100px 5% 0;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(5, 1fr);
}

.zone-details__tile--details {
  height: 450px;
  margin: 16px 0;
  width: 95%;
  display: flex;
  flex-direction: column;
}

// INDIVIDUAL ZONE TILE
.zone-tile {
  .bx--tile {
    max-height: 129px;
    border: 2px solid red;
  }

  .bx--tile-content__above-the-fold {
    margin-top: 8px;
  }

  .zone__form--duration,
  .zone__form--submit-btn {
    margin: 8px 0;
  }

  & .bx--tile__chevron {
    bottom: 1.5rem;
  }

  .zone__img {
    height: 200px;
    margin: 8px auto;
    width: 250px;
  }
}

// SET DURATION FORM
form {
  .bx--number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .bx--label {
      display: flex;
      align-self: end;
      margin-bottom: 0px;
      font-size: 14px;
    }
  }

  .zone__form--submit-btn {
    width: 60px;
    position: relative;
    left: 305px;
  }
  .bx--number__controls {
    display: none;
  }

  #number-input-1 {
    min-width: 0;
    text-align: center;
    margin-left: 115px;
  }

  .bx--form-requirement {
    grid-column: 2;
    grid-row: 2;
    text-align: end;
  }
}
